extends layout

block content
  h1 FreeCodeCamp API Projects - Image Search Abstraction Layer
  h4 Example usage:
  p Search for images like this:
  code https://imagesearch-ahmed-bzx.herokuapp.com/api/imagesearch/cats?offset=10
  p Browse search history like this:
  code https://imagesearch-ahmed-bzx.herokuapp.com/api/searchHistory
